<div class = "mb-3">
    <label for="projectName" class="form-label">Project Name</label>
    <input class="form-control" id = "projectName" name = "projectName" type="text" placeholder="Operation Stryx" aria-describedby="ProjectName" required>
    <div class="invalid-feedback">
        Please enter a project name.
    </div>  
</div>
<%-include('clusterSelect', {authority})%>